.container
  include:markdown ../../markdown/about.md

.container
  include:markdown ../../markdown/challenges/challenges.md
  .challenge-list-item
    img(src=`${env.virtualRoot}_images/icon-technical.svg` height=`40` width=`40`)
    include:markdown ../../markdown/challenges/challenges-achievement.md
  .challenge-list-item
    img(src=`${env.virtualRoot}_images/icon-creativity.svg` height=`40` width=`40`)
    include:markdown ../../markdown/challenges/challenges-creativity.md
  .challenge-list-item
    img(src=`${env.virtualRoot}_images/icon-affordability.svg` height=`40` width=`40`)
    include:markdown ../../markdown/challenges/challenges-affordability.md
  .challenge-list-item
    img(src=`${env.virtualRoot}_images/icon-impact.svg` height=`40` width=`40`)
    include:markdown ../../markdown/challenges/challenges-impact.md
  .challenge-list-item
    img(src=`${env.virtualRoot}_images/icon-adaptability.svg` height=`40` width=`40`)
    include:markdown ../../markdown/challenges/challenges-adaptability.md

.container
  #challenges-switcher
