#judges.nav-anchor.nav-offset
.section-header
  .container
    .row.justify-content-center
      .col-lg-10
        h4 Judges

.container
  .row.justify-content-center
    .col-lg-10
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/Elizabeth_Belding_002_cropped.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-1.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/Angela Siefer headshot Nov 2017 2MB.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-2.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/Scott Turnbull.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-3.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/carlos rey-moreno.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-4.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/Jon Rogers.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-5.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/Leslie Shannon Low Res 2015.JPG`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-6.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/MattRicharsonHeadShot-1 copy.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-7.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-8.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/Heather Williams.jpeg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-9.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/christopher mitchell.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-10.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/amalia deloney.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-11.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-12.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/Ryan_Gerety_20170405-084_Final-084.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-13.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/tony batalla.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-14.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/AshutoshSabharwal03.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-15.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/SteveSong-004.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-16.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/Catherine Middleton.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-17.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/Alex Gil.jpg`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-18.md
      .judge-container.mb-3
        .col-md-4.mr-3
          img(src=`${env.virtualRoot}_images/judges/`)
        .col-md-8
          .markdown
            include:markdown ../../markdown/judges/judge-bio-19.md
